.playground {
    margin-bottom: 35px;
    font-size: 14px;
    padding: 15px;
    background: radial-gradient(at top left, #eeeeee, #858585);
    border-radius: 5px;
    padding: 20px;
  
    .title {
      font-size: 18px !important;
      margin-bottom: 12px !important;
    }
  
    .playground-content {
      .column {
        display: flex;
      }
    }
  
    .playground-editor {
      margin-bottom: 10px;
    }
  }
  